*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

#box{
    height: 300px;
    width: 700px;
    background-color: white;
    padding: 30px 20px;
    border-radius: 30px;
    font-family: monospace;
}
#inner{
    height: 5%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
    
}
#outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
button{
    background-color: blue;
    font-size: 30px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    border: none;
    
}
p{
    font-size: 30px;
    margin: 30px 0px;
    text-align: center;
}
p span{
    color: blue;
}
h2{
    font-size: 30px;
}